@import url(~sanitize.css);

#sim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &.inactive {
        filter: brightness(0.8);
    }
}

header {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 10;

    .icon {
        margin: 1rem 0rem 1rem 1rem;
        cursor: pointer;
        z-index: -10;
        transition: transform 0.05s;

        &:active {
            transform: scale(0.9);
        }
    }

    #stats {
        display: flex;
        width: 50%;
        padding: 1rem;
        justify-content: space-between;

        * {
            width: 30%;
        }
    }
}

#drawer {
    display: none;
    position: absolute;
    width: 25rem;
    height: 100vh;
    border: 4px solid white;
    flex-direction: column;
    padding: 4rem 2rem 2rem 2rem;
    background: #49536A;
    transform: translateX(-20rem);
    align-items: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

    #message {
        display: none;
        text-align: center;
        margin: 1rem 0;
    }

    button {
        cursor: pointer;
        border: 2px solid white;
        box-shadow: 5px 5px 0 0 white;
        width: 20rem;
        height: 4rem;
        background: #49536A;
        transition: transform 0.05s, box-shadow 0.05s;
        margin: 1rem 0;
        color: inherit;
        font-family: inherit;
        text-transform: uppercase;

        &:active {
            box-shadow: 1px 1px 0 0 white;
            transform: translate(4px, 4px);
        }

        &#next-level-button {
            display: none;
        }

        &#shop-button {
            //display: none;
        }

        span.running {
            animation: pulse-fade 0.125s linear alternate infinite;
            font-style: italic;
        }
    }
}

#curtain {
    position: absolute;
    display: none;
    width: 25rem;
    height: 20rem;
    border: 4px solid white;
    flex-direction: column;
    padding: 4rem 2rem 0rem 2rem;
    background: #49536A;
    align-items: center;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    transform: translateY(-20rem);

    #graph {
        width: 100%;
    }
}

#shop {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 80vw;
    aspect-ratio: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background: rgba(256, 256, 256, 0.95);

    #shop-header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 4rem;

        #close-button {
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
        }
    }

    #shop-main {
        width: 100%;
        height: calc(100% - 4rem);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .item {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Josefin Sans', sans-serif;

        .item-img {
            height: 10rem;
        }

        .item-name {
            width: 60%;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            background: #49536A;
            margin: 2rem 0 1rem 0;
        }

        .upgrade-button {
            width: 50%;
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1rem;
            text-align: center;
            background: #F8BD33;
            cursor: pointer;
        }
    }
}


@keyframes pulse-fade {
    to {
        opacity: 0;
    }
}


@media (max-width: 767px) {
    header #stats {
        width: 80%;
    }
}
